 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&family=Rubik:wght@300;400;600;800&display=swap');

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
} 

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #009900;
  right: 0;
  bottom: -5px;
  color: #009900;
}

.icon {
  cursor: pointer;
}

/*.card {
  background: 000; 
} */
